<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" >
          <i class="fa-solid fa-bars" aria-hidden="true"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link hvr-sweep-to-bottom" routerLink="" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-sweep-to-bottom" routerLink="generate-bar-code">BARCODE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-sweep-to-bottom" *ngIf="!isLoggedIN" routerLink="Create-QR-code">QR CODE</a>
            <a class="nav-link hvr-sweep-to-bottom" *ngIf="isLoggedIN" routerLink="Qr-Codes">QR CODE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-sweep-to-bottom" routerLink="choose-Price-Plan">PRICING</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIN">
            <a class="nav-link hvr-sweep-to-bottom" [routerLink]="'/products/all'">PRODUCTS</a>
          </li>

          <li class="nav-item" *ngIf="isLoggedIN">
            <a class="nav-link hvr-sweep-to-bottom" [routerLink]="'/my-profile'">MY PROFILE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
