.cont-width{
    width: 90%;
}
.first-col{
    border-right: 1px solid black;
}

b{
    font-size: 4.6rem;
    font-weight: normal;
    margin-top: 5px;
    color: #989898;
}
h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
}
.hr{
    margin-top: 10px;
    border: 2px solid #989898;
}
.filter-btn{
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #9898987d;
}
.All-btn{
    border: 2px solid rgb(75, 168, 206);
    border-radius: 0;
}
.trash-btn{
    background-color: transparent;
    border-radius: 0;
    border: 1px solid rgb(173, 0, 0);
    transition: 0.3s;
}
.trash-btn:hover{
    background-color: rgb(173, 0, 0);
    color: #fff;
}
h3{
    font-size: 1.7rem;
    color: rgb(75, 168, 206);
}
.btn-create{
    color: #fff;
    background-color: #989898;
    border-radius: 0;
}
.update-btn{
    border: 1px solid #989898;
    border-radius: 0;
}
.bar-btn{
    border: 1px solid #989898;
    border-radius: 0;
}
select{
    /* border: 2px solid #989898 !important; */
    border-radius: 0 !important;
    padding: 12px;
    box-shadow: 2px 2px 2px #989898;
}
.border-box{
    border: 2px solid #98989848;
    box-shadow: 2px 2px 2px #98989848;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
.border-right{
    border-right: 1px solid #98989884;
}
.link{
    font-size: 0.8rem;
    color: #989898;
}
.table-head{
    font-size: 1.3rem;
    color: #000;
}
.spani{
    font-size: 1rem;
}
.scan{
    font-size: 1rem;
    font-weight: 600;
    color: skyblue;
}
em{
    color: skyblue;
    font-style: normal;
    font-size: 1.3rem;
}
.edit-btn{
    border: 2px solid skyblue;
    padding: 10px;
    border-radius: 0;
    color: skyblue;
}





@media (min-width: 360px) { 
    b{
        font-size: 3rem;
        font-weight: normal;
        margin-top: 5px;
        color: #989898;
    }
    h1{
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    .first-col{
        border-right: none;
    }
    .qr-intro{
        text-align: justify;
    }
    .btn-create{
        margin-top: 10px;
    }
 }
@media (min-width: 390px) {  }
@media (min-width: 412px) {  }
@media (min-width: 640px) {  }
@media (min-width: 768px) { 
    b{
        font-size: 2rem;
        font-weight: normal;
        margin-top: 5px;
        color: #989898;
    }
    h1{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    .btn-create{
        margin-top: 0px;
    }
 }
@media (min-width: 820px) { 
    b{
        font-size: 2rem;
        font-weight: normal;
        margin-top: 5px;
        color: #989898;
    }
    h1{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .btn-create{
        margin-top: 0px;
    }
 }
@media (min-width: 1024px) { 
    .first-col{
    border-right: 1px solid black;
}
 }
@media (min-width: 1280px) { 
    .first-col{
    border-right: 1px solid black;
}
 }
@media (min-width: 1366px) {
    .first-col{
    border-right: 1px solid black;
}
 }
@media (min-width: 1536px) { 
    .first-col{
    border-right: 1px solid black;
}
 }










