<div class="container-fluid mt-5 cont-width">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xsm-12 first-col">
      <h1>ONLINE BARCODE <b>GENERATOR</b></h1>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xsm-12">
      <p class="qr-intro">
        This online barcode generator demonstrates the capabilities of the
        TBarCode SDK barcode components. TBarCode simplifies bar code creation
        in your application - e.g. in C# .NET, VB .NET, Microsoft® ASP.NET, ASP,
        PHP, Delphi and other programming languages. Test this online
        barcode-generator without any software installation (Terms of Service)
        and generate your barcodes right now: EAN, UPC, GS1 DataBar, Code-128,
        QR Code®, Data Matrix, PDF417, Postal Codes, ISBN, etc.
      </p>
    </div>
    <hr class="hr" />
  </div>
</div>

<!-- next section  -->

<div class="container-fluid mt-2 cont-width">
  <div class="row">
    <div class="col-12">
      <h3>QR CODES (2)</h3>
      <button type="button" class="btn All-btn">All</button>
      <button type="button" class="btn filter-btn">Dynamic</button>
      <button type="button" class="btn filter-btn">Static</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn trash-btn">Trash</button>
      <span class="float-end">
        <a routerLink="/Create-QR-code" class="btn btn-lg btn-create">
          + CREATE QR CODE</a
        ></span
      >
    </div>
    <div class="col-lg-7 mt-5">
      <select
        class="form-select form-control selct-inpt"
        aria-label="Default select example"
      >
        <option selected>Filter</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Four</option>
        <option value="3">Five</option>
        <option value="3">Six</option>
        <option value="3">Seven</option>
        <option value="3">Eight</option>
        <option value="3">Nine</option>
        <option value="3">Ten</option>
      </select>
    </div>
    <div class="col-lg-2 mt-5">
      <!-- this is only use for empty space   -->
    </div>
    <div class="col-lg-3 mt-5">
      <div>
        <span>Sort By </span> &nbsp;
        <button class="btn update-btn">
          Updated <i class="fa-solid fa-caret-down"></i>
        </button>
        &nbsp;
        <button class="btn bar-btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        &nbsp;&nbsp;
        <button class="btn bar-btn">
          <i class="fa fa-list" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- third section  -->

<div class="container-fluid cont-width mt-5">
  <div class="border-box p-3">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="p-5 border-right">
          <input type="checkbox" />&nbsp;
          <img
            src="../assets/icons/qr-code.jpg"
            class="img-fluid w-50"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="border-right p-2">
          <h4 class="table-head">WEBSITE 8/25/2022</h4>
          <P class="link"
            >link:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani">
              http://qrcodes.pro/rcQEY2
              <i class="fa fa-eye text-info" aria-hidden="true"></i>
            </span>
          </P>
          <P class="link"
            >Org: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani"> Master organization </span>
          </P>
          <P class="link"
            >Created: &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani"> August 25, 2022</span>
          </P>
          <P class="link"
            >Labels: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani">-</span>
          </P>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="border-right text-center p-5">
          <i class="fa-2x fa fa-line-chart" aria-hidden="true"></i> <br />
          <p class="scan pt-2">
            2 <br />
            <em>Scans</em>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <br /><br />
        <button class="btn edit-btn form-control">
          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp; Edit
        </button>
        <button class="btn edit-btn form-control mt-4">
          <i class="fa fa-download" aria-hidden="true"></i> &nbsp;&nbsp;
          Download
        </button>
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- main border box div end -->
</div>
<!-- container end -->

<!--=========================
    ## Second row table
==========================-->

<div class="container-fluid cont-width mt-5">
  <div class="border-box p-3">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="p-5 border-right">
          <input type="checkbox" />&nbsp;
          <img
            src="../assets/icons/qr-code.jpg"
            class="img-fluid w-50"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="border-right p-2">
          <h4 class="table-head">WEBSITE 8/25/2022</h4>
          <P class="link"
            >link:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani">
              http://qrcodes.pro/rcQEY2
              <i class="fa fa-eye text-info" aria-hidden="true"></i>
            </span>
          </P>
          <P class="link"
            >Org: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani"> Master organization </span>
          </P>
          <P class="link"
            >Created: &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani"> scaklcaslcbs</span>
          </P>
          <P class="link"
            >Labels: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-dark spani">-</span>
          </P>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <div class="border-right text-center p-5">
          <i class="fa-2x fa fa-line-chart" aria-hidden="true"></i> <br />
          <p class="scan pt-2">
            2 <br />
            <em>Scans</em>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xsm-12">
        <br /><br />
        <button class="btn edit-btn form-control">
          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp; Edit
        </button>
        <button class="btn edit-btn form-control mt-4">
          <i class="fa fa-download" aria-hidden="true"></i> &nbsp;&nbsp;
          Download
        </button>
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- main border box div end -->
</div>
<!-- container end -->

<!--=========================
    ## Pagination
==========================-->

<div class="container-fluid cont-width mt-4">
  <div class="row">
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
